.container {
  width: 100%;
  position: relative;
}

nav {
  background-color: white;
  height: 30px;
}

.input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

button {
  background-color: white;
  text-align: center;
  font-family: arial;
  display: inline-block;
  width: 250px;
  margin: 0 auto 0 auto;
  border-style: ridge;
  border-width: 5px;
  border-color: #efeff5

}

input[type=text]{
  width: 450px;
  margin: 0 auto 0 auto;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  font-family: arial;
  color: #ABABAB;
  float: right;
  padding: 5px;
  font-size: 13px;
  font_weight: 600;
  margin-top: 2px;
  margin-right: 13px;
}

img {
  width: 392px;
  height: 203px;
  border: 0px;
  padding-top: 0px;
  margin: 195px auto 0 auto;
  display: block;
}

.button1 {
  width: 300px;
  margin: auto;
  display: inline-block;
}
